<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="..\..\User.config">
    <add key="defaultconnection" value="Provider=sqloledb;Data Source=.\SQLEXPRESS;Initial Catalog=LiftPrayer;Integrated Security=SSPI;Application Name=Lift.Test" />
    <add key="defaultconnection.dbtype" value="sqlserver" />
    <add key="Logger.Options" value="DEBUG,ERROR" />
    <add key="Logger.OutputFile" value="c:\src\SCBC\Lift\log\Lift.log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="LiftMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="LiftMembershipProvider"
             type="liftprayer.LiftMembershipProvider, LiftApp"
             applicationName="LiftPrayer"
             enablePasswordReset="true"
             enablePasswordRetrieval="true"
             maxInvalidPasswordAttempts="5"
             minRequiredNonAlphanumericCharacters="1"
             minRequiredPasswordLength="7"
             passwordAttemptWindow="10"
             passwordFormat="Hashed"
             requiresUniqueEmail="true"
             requiresQuestionAndAnswer="false" />
      </providers>
    </membership>
  </system.web>
</configuration>